

body{padding: 0; font-size:7pt; letter-spacing: -0.05em; border:0px; color:#000000;margin-left: 0px;margin-right: 0px; margin-top: 3px;}

img, a{border:0;selector-dummy:expression(this.hideFocus=true);}

.input {font-family: "Arial";font-size: 11px;color: #333333;border: 1px solid #CCCCCC;}

.input1 {font-family: "Arial";font-size: 11px;color: #333333;border: 1px solid #CCCCCC;}

.ssss{ font-size:9px; color:#000000; text-decoration:none; font-family: "Arial";letter-spacing: -0.02em ;}

.ssss1{ font-size:9px; color:#c1c1c1; text-decoration:none; font-family: "Arial";letter-spacing: -0.02em ;}

.ssss2{ font-size:9px; color:#8E8E8E; text-decoration:none; font-family: "Arial";letter-spacing: -0.08em ;}

.ssss3{ font-size:9px; color:#000000; text-decoration:none; font-family: "Arial";letter-spacing: -0.02em ;line-height:190%;}

.ssss_w{ font-size:9px; color:#ffffff; text-decoration:none; font-family: "Arial";letter-spacing: -0.02em ;}

.wdate1{ font-size:8px; color:#c1c1c1; text-decoration:none; font-family: "Arial";letter-spacing: -0.02em ;}

a.menu:active {font-family: "Arial" ;color:#ffffff; text-decoration:none; font-size:8pt;letter-spacing: -0.02em;  font-weight:bold;}
a.menu:link {font-family: "Arial" ;color:#ffffff; text-decoration:none; font-size:8pt;letter-spacing: -0.02em;  font-weight:bold;}
a.menu:visited {font-family: "Arial" ;color:#ffffff; text-decoration:none; font-size:8pt;letter-spacing: -0.02em;  font-weight:bold;}
a.menu:hover {font-family: "Arial" ;color:#ffffff; text-decoration:none; font-size:8pt;letter-spacing: -0.02em;  font-weight:bold;}

a.cs:active {font-family:"Arial";font-size:6pt;etter-spacing: -0.01em;color:#828282;text-decoration:none;}
a.cs:link {font-family:"Arial";font-size:6pt;etter-spacing: -0.01em;color:#828282;text-decoration:none;}
a.cs:visited {font-family:"Arial";font-size:6pt;etter-spacing: -0.01em;color:#828282;text-decoration:none;}
a.cs.hover {font-family:"Arial";font-size:6pt;etter-spacing: -0.01em;color:#c1c1c1;text-decoration:underline;}

.search {font-family:"Arial";font-size:7pt;etter-spacing: -0.01em;border: 0px;padding: 0;}

.num{font-family: "Arial" ;color:#000000; text-decoration:none; font-size:24pt;letter-spacing: -0.1em;  font-weight:bold;}

.profile{font-family: "Arial" ;color:#000000; text-decoration:none; font-size:13pt;letter-spacing: -0.01em;  font-weight:bold;}

.pro{font-family: "Arial" ; text-decoration:none; font-size:16pt;letter-spacing: -0.05em; font-weight:bold;}

.pro1{font-family: "Arial" ; text-decoration:none; font-size:7pt;letter-spacing: -0.05em; font-weight:bold;}

.pro2{font-family: "Arial" ; text-decoration:none; font-size:7pt;letter-spacing: -0.05em; color:#c1c1c1;}

.logo{font-family: "Arial" ; text-decoration:none; font-size:27pt;letter-spacing: -0.1em; font-weight:bold;}

.title{font-family: "굴림" ;color:#000000; text-decoration:none; font-size:16pt;letter-spacing: -0.06em; font-weight:bold;}

.wdate{font-family: "Arial" ;color:#c1c1c1; text-decoration:none; font-size:7pt;letter-spacing: -0.04em;line-height:90%}

a.copy:active {font-family: "Arial" ;color:#c1c1c1; text-decoration:none; font-size:7pt;letter-spacing: -0.02em;line-height:90%}
a.copy:link {font-family: "Arial" ;color:#c1c1c1; text-decoration:none; font-size:7pt;letter-spacing: -0.02em;line-height:90%}
a.copy:visited {font-family: "Arial" ;color:#c1c1c1; text-decoration:none; font-size:7pt;letter-spacing: -0.02em;line-height:90%}
a.copy:hover {font-family: "Arial" ;color:#c1c1c1; text-decoration:underline; font-size:7pt;letter-spacing: -0.02em;line-height:90%}

.wread{font-family: "굴림" ;color:#c1c1c1; text-decoration:none; font-size:8pt;letter-spacing: -0.05em;}

.url{font-family: "Arial" ;color:#000000; text-decoration:none; font-size:7pt;letter-spacing: -0.03em;}

.member { font-size:9px; color:#000000; text-decoration:none; font-family: "Arial";letter-spacing: -0.02em ;}

a.url_link:active { font-size:11px; color:#c0c0c0; text-decoration:none; font-family: "Arial";letter-spacing: -0.01em ;}
a.url_link:link { font-size:11px; color:#c0c0c0; text-decoration:none; font-family: "Arial";letter-spacing: -0.01em ; }
a.url_link:visited { font-size:11px; color:#c0c0c0; text-decoration:none; font-family: "Arial";letter-spacing: -0.01em ;}
a.url_link:hover { font-size:11px; color:#6F6F6F; text-decoration:underline; font-family: "Arial";letter-spacing: -0.01em ;}

a.more:active { font-size:9px; color:#c0c0c0; text-decoration:none; font-family: "Arial";letter-spacing: -0.02em ;}
a.more:link { font-size:9px; color:#c0c0c0; text-decoration:none; font-family: "Arial";letter-spacing: -0.02em ; }
a.more:visited { font-size:9px; color:#c0c0c0; text-decoration:none; font-family: "Arial";letter-spacing: -0.02em ;}
a.more:hover { font-size:9px; color:#6F6F6F; text-decoration:underline; font-family: "Arial";letter-spacing: -0.02em ;}

.cont{font-size:11px; color:#000000; text-decoration:none; font-family: "굴림";letter-spacing: -0.02em ;}
.new{font-size:11px; color:#000000; text-decoration:none; font-family: "굴림";letter-spacing: -0.02em ; font-weight:bold;}
	
.tag{font-size:11px; color:#c0c0c0; text-decoration:none; font-family: "굴림";letter-spacing: -0.09em ;}

a.q12345:active { font-size:9px; color:#8B8B8B; text-decoration:none; font-family: "Arial";letter-spacing: -0.02em ;}
a.q12345:link { font-size:9px; color:#8B8B8B; text-decoration:none; font-family: "Arial";letter-spacing: -0.02em ; }
a.q12345:visited { font-size:9px; color:#8B8B8B; text-decoration:none; font-family: "Arial";letter-spacing: -0.02em ;}
a.q12345:hover { font-size:9px; color:#000000; text-decoration:underline; font-family: "Arial";letter-spacing: -0.02em ;}
	
.plus_name{font-size:11px; color:#000000; text-decoration:none; font-family: "굴림";letter-spacing: -0.02em ;font-weight:bold;}

.plus_cont{font-size:11px; color:#000000; text-decoration:none; font-family: "굴림";letter-spacing: -0.05em ;}

.plus_date{font-family: "Arial" ;color:#c1c1c1; text-decoration:none; font-size:7pt;letter-spacing: -0.04em;}

a.new_comment:active { font-size:9px; color:#000000; text-decoration:none; font-family: "Arial";letter-spacing: -0.02em ;}
a.new_comment:link { font-size:9px; color:#000000; text-decoration:none; font-family: "Arial";letter-spacing: -0.02em ; }
a.new_comment:visited { font-size:9px; color:#000000; text-decoration:none; font-family: "Arial";letter-spacing: -0.02em ;}
a.new_comment:hover { font-size:9px; color:#6f6f6f; text-decoration:underline; font-family: "Arial";letter-spacing: -0.02em ;}

a.new_comment1:active { font-size:9px; color:#000000; text-decoration:none; font-family: "Arial";letter-spacing: -0.02em ;line-height:190%;}
a.new_comment1:link { font-size:9px; color:#000000; text-decoration:none; font-family: "Arial";letter-spacing: -0.02em ;line-height:190%;}
a.new_comment1:visited { font-size:9px; color:#000000; text-decoration:none; font-family: "Arial";letter-spacing: -0.02em ;line-height:190%;}
a.new_comment1:hover { font-size:9px; color:#6f6f6f; text-decoration:underline; font-family: "Arial";letter-spacing: -0.02em ;line-height:190%;}

.sitemap1{ font-size:10px; color:#000000; text-decoration:none; font-family: "Arial";letter-spacing: -0.02em ;}
a.sitemap:active { font-size:10px; color:#000000; text-decoration:none; font-family: "Arial";letter-spacing: -0.02em ;}
a.sitemap:link { font-size:10px; color:#000000; text-decoration:none; font-family: "Arial";letter-spacing: -0.02em ; }
a.sitemap:visited { font-size:10px; color:#000000; text-decoration:none; font-family: "Arial";letter-spacing: -0.02em ;}
a.sitemap:hover { font-size:10px; color:#6f6f6f; text-decoration:underline; font-family: "Arial";letter-spacing: -0.02em ;}

a.new_comment1:active { font-size:9px; color:#000000; text-decoration:none; font-family: "Arial";letter-spacing: -0.02em ;}
a.new_comment1:link { font-size:9px; color:#000000; text-decoration:none; font-family: "Arial";letter-spacing: -0.02em ; }
a.new_comment1:visited { font-size:9px; color:#000000; text-decoration:none; font-family: "Arial";letter-spacing: -0.02em ;}
a.new_comment1:hover { font-size:9px; color:#6f6f6f; text-decoration:none; font-family: "Arial";letter-spacing: -0.02em ;}

.id_pass{ font-size:9px; color:#000000; text-decoration:none; font-family: "Arial";letter-spacing: -0.02em ;}	

#dhtmltooltip{
position: absolute;
left: -300px;
width: 100px;
border: 1px solid black;
padding: 4px;
background-color: #f7f7f7;
visibility: hidden;
z-index: 100;
font-size:11px; color:#000000; text-decoration:none; font-family: "굴림";letter-spacing: -0.02em ;
/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
/*filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);*/
}

#dhtmlpointer{
position:absolute;
left: -300px;
z-index: 101;
visibility: hidden;
}



/*
a.seu3:active { font-size:16px; color:#979797; text-decoration:none; font-family: "HY견고딕";letter-spacing:-0.05em;font-weight:bold;}
a.seu3:link { font-size:16px; color:#000000; text-decoration:none; font-family: "HY견고딕"; letter-spacing:-0.05em;font-weight:bold;}
a.seu3:visited { font-size:16px; color:#000000; text-decoration:none; font-family: "HY견고딕"; letter-spacing:-0.05em;font-weight:bold;}
a.seu3:hover { font-size:16px; color:#000000; text-decoration:underline; font-family: "HY견고딕"; letter-spacing:-0.05em;font-weight:bold;}
*/
a.seu3:active { font-size:16px; color:#6F6F6F; text-decoration:none; font-family: "굴림";letter-spacing:-0.1em;font-weight:bold;}
a.seu3:link { font-size:16px; color:#000000; text-decoration:none; font-family: "굴림"; letter-spacing:-0.1em;font-weight:bold;}
a.seu3:visited { font-size:16px; color:#000000; text-decoration:none; font-family: "굴림"; letter-spacing:-0.1em;font-weight:bold;}
a.seu3:hover { font-size:16px; color:#6F6F6F; text-decoration:underline; font-family: "굴림"; letter-spacing:-0.1em;font-weight:bold;}

a.seu4:active { font-size:10px; color:#6F6F6F; text-decoration:none; font-family: "Arial, 굴림";letter-spacing: -0.04em ;}
a.seu4:link { font-size:10px; color:#c0c0c0; text-decoration:none; font-family: "Arial, 굴림";letter-spacing: -0.04em ; }
a.seu4:visited { font-size:10px; color:#c0c0c0; text-decoration:none; font-family: "Arial, 굴림";letter-spacing: -0.04em ;}
a.seu4:hover { font-size:10px; color:#6F6F6F; text-decoration:none; font-family: "Arial, 굴림";letter-spacing: -0.04em ;}

a.seu1:link{font-family: "HY견고딕" ;color:#000000; text-decoration:none; font-size:16pt;letter-spacing: -0.1em;  font-weight:bold;}
a.seu1:visited {font-family: "HY견고딕" ;color:#000000;text-decoration:none; font-size:16pt;letter-spacing: -0.1em;  font-weight:bold;}
a.seu1:active {font-family: "HY견고딕" ;color:#929292;text-decoration:underline; font-size:16pt;letter-spacing: -0.1em;  font-weight:bold;}
a.seu1:hover {font-family: "HY견고딕" ;color:#929292;text-decoration:underline; font-size:16pt;letter-spacing: -0.1em;  font-weight:bold;}


/* [1] [2] */
a.seu:link {font-family: "굴림";color:#000000;text-decoration:none; font-size:7pt;}
a.seu:visited {font-family: "굴림";color:#000000;text-decoration:none; font-size:7pt;}
a.seu:active {font-family: "굴림";color:#000000;text-decoration:underline; font-size:7pt;}
a.seu:hover {font-family: "굴림";color:#000000;text-decoration:underline; font-size:7pt;}

.ss {font-family: "굴림";color:#000000;text-decoration:none; font-size:7pt;}
/* [1] [2] */

.seung{
font-family: HY견고딕 ;
font-size:11pt; color:#000000; padding:0 ; letter-spacing: -0.1em;  font-weight:bold;
}

/**/
.seung1{ 
font-family: 맑은 고딕;
font-size:8pt; color:#929292; padding:0 ; border:0px;letter-spacing: -0.04em ; 
}

.seung2{
font-family: 맑은 고딕;
font-size:7pt; color:#000000; padding: 0; letter-spacing: -0.04em;  font-weight:bold;
}

.seung3{
font-family: "굴림";
font-size:8pt; color:#c0c0c0;letter-spacing: -0.1em; 
}


.seung4{
font-family: "굴림";
color:#000000;font-weight:bold;font-size:16pt;letter-spacing: -0.1em; 
}


.seung5{
font-family: "굴림";
color:#000000;font-size:8pt;
}

.seung6{
font-family: "굴림";
color:#000000;font-size:5pt;font-weight:bold;
}

.seung7{
font-family: "굴림";
color:#000000;font-size:9pt;font-weight:bold;
}

.seung8{
font-size:8pt;letter-spacing: -0.01em; padding:5px; margin:0px; border:0px;color:#000000; 
}


